name: backend

services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        VERSION: ${SERVICE_VERSION:-1.0.0}
        SERVICE_NAME: cva-backend
    env_file:
      - ../.env
    container_name: cva-backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      EnableOpenApi: "true"
      Media__RootPath: /data/media
      Media__PublicRequestPath: /media

    volumes:
      - cva_media:/data/media

    networks:
      - docker-network

volumes:
  cva_media:

networks:
  docker-network:
    external: true
    name: docker-network-shared